@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 4 79% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 20%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 38%;
    --accent: 4 79% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 92%;
    --input: 0 0% 92%;
    --ring: 4 79% 50%;
    --chart-1: 4 79% 50%;
    --chart-2: 0 0% 38%;
    --chart-3: 0 0% 20%;
    --chart-4: 0 0% 92%;
    --chart-5: 0 0% 96%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 0 0% 20%;
    --sidebar-primary: 4 79% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 96%;
    --sidebar-accent-foreground: 0 0% 20%;
    --sidebar-border: 0 0% 92%;
    --sidebar-ring: 4 79% 50%;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 96%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 96%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 96%;
    --primary: 4 79% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 96%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 60%;
    --accent: 4 79% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 4 79% 50%;
    --chart-1: 4 79% 50%;
    --chart-2: 0 0% 60%;
    --chart-3: 0 0% 96%;
    --chart-4: 0 0% 20%;
    --chart-5: 0 0% 38%;
    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 0 0% 96%;
    --sidebar-primary: 4 79% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 20%;
    --sidebar-accent-foreground: 0 0% 96%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 4 79% 50%;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}